<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap"
        rel="stylesheet">
    <title>Vue-Boolzapp</title>
</head>

<body>
    <div id="app" class="container bg-yellow">
        <div class="row">
            <div class="col-left bg-blue border">
                <div class="header bg-silver space-between header-container">
                    <div class="square-lt">
                        <img class="avatar" src="./img/avatar_io.jpg" alt="">
                    </div>
                    <div class="square-rt d-flex f-end mx-10">
                        <a href=""><i class="fa-regular fa-circle mx-10"></i></a>
                        <a href=""><i class="fa-regular fa-message mx-10"></i></a>
                        <a href=""><i class="fa-solid fa-ellipsis-vertical mx-10"></i></a>
                    </div>
                </div>
                <div class="bg-lightblue d-flex py-20">
                    <i class="fa-regular fa-bell"></i>
                    <div style="margin-left: 10px;">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <p><a href="">Attiva notifiche desktop</a></p>
                    </div>
                </div>
                <div class="container-cerca bg-silver py-20">
                    <input class="cerca" type="text" placeholder="&#128269; Cerca o inizia una nuova chat">
                </div>
                <div class="bg-silver over-flow height-l">
                    <div class="bg-gold border-bottom py-10" v-for="(contact, index) in contacts" :key="index"
                        @click="selectContact(contact)">
                        <div>
                            <img class="avatar" :src="contact.avatar" :alt="contact.name"
                                @click.stop="selectContact(contact)">
                            <div>
                                <span class="contatto">{{ contact.name }}</span>
                                <p class="anteprima-messaggi">{{ contact.messages[1].message }}</p>
                            </div>
                        </div>
                        <span class="time">{{ contact.messages[0].date }}</span>
                    </div>

                </div>
            </div>
            <div class="col-right bg-silver border">
                <div class="header bg-silver space-between header-container">
                    <div class="square-l" v-if="activeContact">
                        <div class="d-flex">
                            <span class="arrow-back"><i class="fa-solid fa-arrow-left"></i></span>
                            <img class="avatar" :src="activeContact.avatar" :alt="activeContact.name">
                            <div style="margin-left: 30px;">
                                <p>{{ activeContact.name }}</p>
                                <p class="ultimo-accesso">{{ activeContactLastSeen() }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="square-r d-flex f-end">
                        <i class="fa-solid fa-magnifying-glass mx-10"></i>
                        <i class="fa-solid fa-paperclip mx-10"></i>
                        <i class="fa-solid fa-ellipsis-vertical mx-10"></i>
                    </div>
                </div>
                <div class="bg-violet overflow height-xl wallpaper d-flex flex-column py-10"
                    v-if="activeContact && activeContact.messages">
                    <div class="message-container">
                        <div v-for="(message, index) in activeContact.messages" :key="index"
                            :class="{'message': true, 'text-chat-me': message.fromMe, 'text-chat-you': !message.fromMe}">
                            {{ message.message }}
                        </div>
                    </div>
                </div>
                <div class="header bg-silver space-between align-center">
                    <div class="square-bottom-left">
                        <a href=""><i class="fa-regular fa-face-smile"></i></a>
                    </div>
                    <div class="square-bottom-centre">
                        <input class="chat-box" type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                    </div>
                    <div class="square-bottom-right">
                        <a href=""><i class="fa-solid fa-microphone"></i></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- link cdn Vue.js  -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- js link  -->
    <script src="main.js"></script>
</body>

</html>